docker run -d \
  -v /var/run/docker.sock:/var/run/docker.sock \
  -v /home/dev/ci.env:/etc/ci.env \
  -e DRONE_RUNNER_ENV_FILE=/etc/ci.env \
  -e DRONE_RPC_PROTO=http \
  -e DRONE_RPC_HOST={{ drone_server }} \
  -e DRONE_RPC_SECRET={{ rpc_secret }} \
  -e DRONE_RUNNER_CAPACITY=1 \
  -e DRONE_RUNNER_NAME=${HOSTNAME} \
  -p 3000:3000 \
  --restart always \
  --name runner \
  drone/drone-runner-docker:1