docker run \
  --volume=/var/lib/drone:/data \
  --env=DRONE_GITHUB_CLIENT_ID={{ github_client_id }} \
  --env=DRONE_GITHUB_CLIENT_SECRET={{ github_client_secret }} \
  --env=DRONE_RPC_SECRET={{ rpc_secret }} \
  --env=DRONE_SERVER_HOST={{ drone_server }} \
  --env=DRONE_SERVER_PROTO=http \
  --env=DRONE_USER_CREATE=username:{{ admin_user }},admin:true \
  --publish=80:80 \
  --publish=443:443 \
  --restart=always \
  --detach=true \
  --name=drone \
  drone/drone:2