[Unit]
Description=Tezedge "stack"(node + debugger + explorer) deployment

[Service]
Type=oneshot
# give exec start the absolute path to the tezedge checking script 
ExecStart=/bin/bash /home/ado/tezedge/deploy/deploy_tezedge_stack.sh /home/ado/tezedge latest
