[package]
name = "tezos_encoding"
version = "1.8.0"
authors = ["Tomas Sedlak <tomas.sedlak@simplestaking.com>"]
edition = "2018"

[dependencies]
bit-vec = "0.6.2"
thiserror = "1.0"
hex = "0.4"
num-bigint = "0.3"
num-traits = "0.2.8"
serde = { version = "1.0", features = ["derive"] }
nom = "6.1"
lazy_static = "1.4"
# local dependencies
crypto = { path = "../../crypto" }
tezos_encoding_derive = { path = "../encoding-derive" }
