###############################################################################################
################################ Tezos Node configuration file ################################
###############################################################################################

# Path to bootstrap database directory. Default: bootstrap_db [default: bootstrap_db]
# --bootstrap-db-path <bootstrap-db-path>
--bootstrap-db-path=/tmp/tezedge        

# A peers for dns lookup to get the peers to bootstrap the network from. Peers are delimited by a colon.
# Default: used according to --network parameter see TezosEnvironment
# --bootstrap-lookup-address <bootstrap-lookup-address>
# --bootstrap-lookup-address=

# Set path of a log file
# --log-file <PATH>                                        
#--log-file=/tmp/tezedge/tezedge.log        

# Set output format of the log. [possible values: json, simple]
# --log-format <log-format>
--log-format=simple    

# Port on which the Tezedge node monitoring information will be exposed
# --monitor-port <PORT>
--monitor-port=3030        

# Choose the Tezos environment [possible values: alphanet, babylonnet, babylon, mainnet, zeronet]
# --network <network>
--network=babylonnet       

# Flag for turn on/off logging in Tezos OCaml runtime.
# --ocaml-log-enabled <ocaml-log-enabled>
--ocaml-log-enabled=false      

# Socket listening port for p2p for communication with tezos world
# --p2p-port <PORT>
--p2p-port=9732

# TODO: add desc
# --peer-id <ID>
--peer-id=ids2KLbnrBkrxSWny8z5qiSN9gkQXX

# A peer to bootstrap the network from. Peers are delimited by a colon. Format: IP1:PORT1,IP2:PORT2,IP3:PORT3
# --peers <IP:PORT>
# --peers=

# Maximal number of peers to connect to
# --peer-thresh-high <NUM>                                 
--peer-thresh-high=15        

# Minimal number of peers to connect to
# --peer-thresh-low <NUM>                                  
--peer-thresh-low=2       

# TODO: add desc
# --public-key <ID>
--public-key=69812c236724196a977617e38b4b6e5494e1e6aa528d6b4bab286f364a81201c

# TODO: add desc
# --secret-key <ID>
--secret-key=f403fad34cac90f5133283a4391f7a115887b6fdbac8c60f5f8def7eed2ec465

# TODO: add desc
# --pow-stamp <ID>
--pow-stamp=10d31d36f16d2849d2d9a47123d18bd0fbdedc6959747650

# Path to a tezos protocol runner executable
# --protocol-runner <PATH>
--protocol-runner=../target/debug/protocol-runner      

# Rust server RPC port for communication with rust node
# --rpc-port <PORT>
--rpc-port=18732       

# A directory for Tezos OCaml runtime storage (context/store)
# --data-dir <tezos-data-dir>
--tezos-data-dir=/tmp/tezedge        

# --websocket-address <websocket-address>                  
--websocket-address=0.0.0.0:4927

