###############################################################################################
################################ Tezos Node configuration file ################################
###############################################################################################

# Path to bootstrap database directory. Default: bootstrap_db [default: bootstrap_db]
# -B, --bootstrap-db-path <bootstrap-db-path>
--bootstrap-db-path=/tmp/tezedge        

# A peers for dns lookup to get the peers to bootstrap the network from. Peers are delimited by a colon.
# Default: used according to --network parameter see TezosEnvironment
# -b, --bootstrap-lookup-address <bootstrap-lookup-address>
# --bootstrap-lookup-address=

# Path to Tezos identity.json file.
# -i, --identity <identity>                                    
--identity=./config/identity.json       

# Set path of a log file
# -F, --log-file <PATH>                                        
#--log-file=./tezedge.log        

# Set output format of the log. [possible values: json, simple]
# -f, --log-format <log-format>
--log-format=simple    

# Port on which the Tezedge node monitoring information will be exposed
# -m, --monitor-port <PORT>
--monitor-port=3030        

# Choose the Tezos environment [possible values: alphanet, babylonnet, babylon, mainnet, zeronet]
# -n, --network <network>
--network=babylonnet       

# Flag for turn on/off logging in Tezos OCaml runtime.
# -o, --ocaml-log-enabled <ocaml-log-enabled>
--ocaml-log-enabled=false      

# Socket listening port for p2p for communication with tezos world
# -l, --p2p-port <PORT>
--p2p-port=9732

# Maximal number of peers to connect to
# -T, --peer-thresh-high <NUM>                                 
--peer-thresh-high=15        

# Minimal number of peers to connect to
# -t, --peer-thresh-low <NUM>                                  
--peer-thresh-low=2        

# A peer to bootstrap the network from. Peers are delimited by a colon. Format: IP1:PORT1,IP2:PORT2,IP3:PORT3
# -p, --peers <IP:PORT>
# --peers=

# Path to a tezos protocol runner executable
# -P, --protocol-runner <PATH>
--protocol-runner=../target/debug/protocol-runner      

# Rust server RPC port for communication with rust node
# -r, --rpc-port <PORT>
--rpc-port=18732       

# A directory for Tezos OCaml runtime storage (context/store)
# -d, --data-dir <tezos-data-dir>
--tezos-data-dir=/tmp/tezedge        

# -w, --websocket-address <websocket-address>                  
--websocket-address=0.0.0.0:4927